.App {
  text-align: center;
}

.App-top {
  width : 100%;
  opacity: 0.3;
  padding: 0px;
  height: 150px;
  z-index: 2;
}

h2{
  color : blue;
  z-index : 1;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-intro {
  font-size: large;
  color : black;
  background-color: #222;
}
